$primary-color: #2e3192;
$secondary-color: #277eb3;
$black-color: #000000;
$white-color: #ffffff;
$light-color: #f8f9fa;

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 350px and up)
@media (min-width: 350px) { 
    #Slider {
        h5 {
            font-size: 12px;
        }
        p {
            font-size: 10px;
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    #Slider {
        h5 {
            font-size: 22px;
        }
        p {
            font-size: 16px;
        }
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    #Slider {
        h5 {
            font-size: 60px;
        }
        p {
            font-size: 22px;
        }
    }
 }

 #top-menu {
     a {
        color: $white-color;
        font-size: 16px;
        font-weight: 600;
        &:hover {
            color: $primary-color;
        }
     }
 }

 #navbar {
     .nav-item {
         margin: 10px 20px;
        //  &:nth-child(6) {
        //      margin: 10px 0;
        //  }
     }
     .nav-link {
         font-size: 18px;
         font-weight: 600;
         color: $primary-color;
         &:hover {
             color: $secondary-color;
         }
     }
    .dropdown-menu {
        padding: 0;
        .dropdown-item {
            color: $primary-color;
            padding: 10px 10px;
            font-size: 18px;
            font-weight: 600;
            &:hover {
                color: $secondary-color;
                background-color: $light-color !important;
            }
        }
    }
 }

 #first-section {
     .card {
        height: 275px;
        &:hover {
            background-color: $primary-color;
            transition: all 0.5s ease;
            .card-title {
                color: $white-color;
            }
            .card-text {
                color: $white-color;
            }
        }
     }
 }

 #third-section {
     background-image: url(../images/section-three-baner.png);
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     min-height: 500px;
    .card {
       background-color: transparent;
       height: 200px;
       .fa-shield-virus, .fa-screwdriver-wrench, .fa-compact-disc, .fa-laptop-medical {
           padding: 30px;
           font-size: 50px;
           background-color: $secondary-color;
           color: $white-color;
           border-radius: 50%;
           margin: 15px 5px;
       }
       &:hover {
           transform: scale(1.1);
           transition: all 0.5s ease;
       }
    }
}

#fourth-section {

}

#fifth-section {
    .owl-nav {
        .owl-prev, .owl-next {
            
        }
    }
}

#whyus{
    .card{
        transform: scale(0.9);
        transition: all 0.5s ease;
        .fa-user-tie, .fa-computer-mouse, .fa-comments, .fa-handshake-simple, .fa-star, .fa-stethoscope{
            padding: 20px;
            font-size: 30px;
            background-color: $secondary-color;
           color: $white-color;
           border-radius: 50%;
           margin: 15px 5px;
       }
       &:hover {
           transform: scale(1);
           transition: all 0.5s ease;
       }
        }
    }

#advantages{

    .fa-location-dot, .fa-desktop, .fa-award,.fa-calendar-days{
        padding: 20px;
        font-size: 20px;
        background-color: $secondary-color;
       color: $white-color;
       border-radius: 50%;
       margin: 10px 5px;
   }
   &:hover {
       transform: scale(1);
       transition: all 0.5s ease;
   }

}

#contact{
    .fa-location-dot, .fa-clock{
        padding: 30px;
        font-size: 30px;
        background-color: $secondary-color;
       color: $white-color;
       border-radius: 50%;
       margin: 10px 5px;
   }
}